<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="wapper">
        <h1>koa2 project</h1>
        <div class="btn-box">
            <button onclick="window.location='/user/login'">登录</button>
            <button onclick="window.location='/user/register'">注册</button>
        </div>
    </div>
</body>
</html>